.sidenav-container {
  background: rgb(197, 246, 255);
  height: 100%;
}

.sidenav {
  background: rgb(85, 173, 189);
  width: 200px;
}

.sidenav .mat-toolbar {
  background: rgb(64, 197, 221);
}

.mat-toolbar.mat-primary {
  background: rgb(107, 205, 223);
  position: sticky;
  top: 0;
  z-index: 1;
}
